mkdocs==1.4.1
mkdocs-awesome-pages-plugin==2.8.0
mkdocs-exclude-search==0.6.4
mkdocs-macros-plugin==0.7.0
mkdocs-material==8.5.3
mkdocs-material-extensions==1.0.3
selenium==4.3.0
setuptools
git+https://github.com/Epithumia/mkdocs-sqlite-console.git
